body {
  background-color: #000000;
  color: #fff;
}

.container {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.row {
  width: 350px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  background-color: #1e1e1e;
  gap: 15px;
  flex-direction: column;
}

.line input {
  width: 100%;
  height: 40px;
  padding-inline: 15px;
  border-radius: 10px;
  margin-top: 10px;
  outline: none;
  border: none;
  color: #fff;
  background-color: transparent;
  border-bottom: 1px solid #fff;
}

.line .password {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.line .password input {
  width: calc(100% - 50px);
  margin: 0;
}

.line .password button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #d0f288;
  border: none;
  font-size: 17px;
}

h2 {
  margin-bottom: 5px;
  text-align: center;
}

.line {
  width: 100%;
}

.knopka {
  width: 100%;
  height: 45px;
  border-radius: 20px;
  margin-top: 20px;
  background-color: #d0f288;
  border: none;
  font-size: 17px;
}

.line h3 {
  font-weight: 400;
}

@media screen and (max-width: 400px) {
  .container {
    position: absolute;
    left: 20px;
  }
  .line input {
    width: 300px;
  }
}
